ACTION!="add", GOTO="media_end"
SUBSYSTEM!="video4linux", GOTO="v4l_end"

# TODO(owenlin): Remove "video-dec" once all clients are updated and understand
#                numbering.
# Use for kernel v3.14
ATTR{name}=="rk3288-vpu-dec", SYMLINK+="video-dec video-dec0"
ATTR{name}=="rk3288-vpu-enc", SYMLINK+="video-enc"
# Use for kernel v4.19
ATTR{name}=="rockchip,rk3288-vpu-dec", SYMLINK+="video-dec video-dec0"
ATTR{name}=="rockchip,rk3288-vpu-enc", SYMLINK+="video-enc"

LABEL="v4l_end"
SUBSYSTEM!="media", GOTO="media_end"

ATTR{model}=="hantro-vpu", SYMLINK+="media-dec0"

LABEL="media_end"
